<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Web Shop</title>
    <link th:href = "@{/css/default.css}" rel="stylesheet" >


</head>
<body>
<div id="WholePage">
    <div id="Inner">
        <div id="Container">
        </div>
        <div id="Head">
            <div id="HeadLeft">
                <div id="LeafTop"></div>
                <div id="LeafBottom">
                    <a class="logIn" th:href="@{/index}">LOG OUT </a>
                </div>
            </div>

            <div id="HeadRight">
                <div id="Logo">
                    <div id="Name">
                        <span class="blue">W</span>
                        <span class="grey">eb</span>
                        <span class="blue">S</span>
                        <span class="grey">hop</span>
                    </div>
                    <div id="Informations">
                        <p>
                            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                        </p>
                    </div>
                    <div id="TopMenu">
                        <a class="kart" href="#"> <span>KART</span></a>
                        <a class="orders" href="#"> <span>ORDERS</span></a>
                        <a class="help" href="#"> <span>CONTACT</span></a>
                        <a class="home" href="#"> <span>HOME</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>